<h1>This is the secret page</h1>
<image src="https://img-aws.ehowcdn.com/340x221p/photos.demandstudios.com/getty/article/3/103/156904630.jpg"></image>

<li><a href="/register">Sign up</a></li>
<li><a href="/login">Log in</a></li>
<li><a href="/logout">Log out</a></li>
